<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head th:insert="blocks/head :: head">
<body>
<header th:insert="blocks/header :: header"></header>

<center> <h2> Details about client <span class="text-info"></span></h2></center>

<!-- это для ГЕТ - запроса -->
<div class="container mt-5 mb-5">

  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-4">
        <div class="row align-items-start">

          <div class="card mx-auto" style="width: 25rem;" th:each="el:${Clients}">
            <div class="card-body">
              <h5 class="card-title">About client</h5>
              <h6 class="card-subtitle mb-2 text-muted" th:text="${el.Name} + ' ' + ${el.LastName}"></h6>
              <p class="card-text" th:text="'Phone: ' + ${el.Phone}"></p>
              <p class="card-text" th:text="'Address: ' + ${el.Adress}"></p>
              <p th:text="' Email: ' + ${el.Email}"></p>
              <!--<h3 th:text="' תריך נולדתי: ' + ${el.Birthday}"></h3>-->
              <p th:text="' Status: ' + ${el.status}"></p>
              <button class="btn btn-warning " data-bs-toggle="modal" data-bs-target="#exampleModal"
                      th:data-bs-whatever="${el.id}"
                      th:data-bs-name="${el.Name}"
                      th:data-bs-lastname="${el.LastName}"
                      th:data-bs-address="${el.Adress}"
                      th:data-bs-status="${el.status}"
                      th:data-bs-phone="${el.phone}"
                      th:data-bs-email="${el.email}"
              >Edit info</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">

      </div>
      <div class="col-2"></div>
  </div>

    <table class="mt-5 table table-bordered border-dark-subtle mx-auto">
      <thead>
      <tr>
        <th scope="col">Order</th>
        <th scope="col">Date</th>
        <th scope="col">Sum</th>
      </tr>
      </thead>

      <div>
        <tbody>
        <tr th:each="el:${orderWithItems}">
          <th scope="row">
            <a th:text="${el.id}" data-bs-toggle="collapse" th:href="'#' + ${el.id}" role="button" aria-expanded="false" th:aria-controls="${el.id}"></a>
            <div class="collapse" th:id="${el.id}" th:each="it:${el.items}">
              <div class="d-flex" >
                <p th:text="${it.title} + ''"></p>
                <p th:text="${it.full_text} + ' q'"></p>
                <p th:text="${it.quantity} + ' p'"></p>
                <p th:text="${it.price} + ' '"></p>
              </div>
            </div>
          </th>
          <td th:text="${el.dateToString()}"></td>
          <td th:text="${el.getSum()} + ' coins'"></td>
        </tr>
        </tbody>
      </div>


    </table>



</div>

  <!--            форма редактирования-->

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Change information</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post">
            <div class="mb-3">
              <label for="name" class="col-form-label">Name:</label>
              <textarea class="form-control" id="name" name="Name"></textarea>
            </div>
            <div class="mb-3">
              <label for="last-name" class="col-form-label">Last name:</label>
              <textarea class="form-control" id="last-name" name="LastName"></textarea>
            </div>
            <div class="mb-3">
              <label for="address" class="col-form-label">Address:</label>
              <textarea class="form-control" id="address" name="Adress"></textarea>
            </div>
            <div class="mb-3">
              <label for="phone" class="col-form-label">Phone:</label>
              <input type="tel" class="form-control" id="phone" name="Phone">
            </div>
            <div class="mb-3">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" class="form-control"  id="email" name="Email">
            </div>
            <div class="mb-3 hidden">
              <label for="status" class="col-form-label">Status:</label>
              <select class="form-select form-control" aria-label="Status" id="status" name="status">
                <option selected value="false">Regular</option>
                <option value="true">VIP</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Change</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>


</body>
<script src="/static/script.js"></script>
<script src="/static/change-date.js"></script>
</html>